<!--
  Generated template for the AdmAsignardietaclientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="normal">
      <ion-title>Rutinas del alumno</ion-title>
      <ion-buttons end>
          <button ion-button icon-only color="royal" (click)="dismiss()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
    
</ion-header>


<ion-content >
            <ion-list >
                  <div >
                    <div *ngFor="let item of tipodieta" >
                        <ion-item-divider color="carts"  (click)="verejercicios(item)">
                      
                            <h2>{{item.nombre}} </h2>
                            <button ion-button clear item-end icon-only>
                                <ion-icon color="light" name='ios-arrow-down'></ion-icon>
                            </button>
                            
                        </ion-item-divider>
                        <div *ngIf="item.estadohiide">
                        <ion-item color="carts" *ngFor="let ejer of ejers[item.key]; let o = index;" > 
                          
                              <ion-avatar item-start>
                                  <img *ngIf="ejer.imagen!=''; else elseBlock" [src]="ejer.imagen" />
                                    <ng-template #elseBlock>
                                        <img  src="../../assets/imgs/defecto2.jpeg" />
                                </ng-template>
                                </ion-avatar>       
                              <h2>{{ejer.nombre}} </h2>
                              <p>{{ejer.descorta}}</p>
                              <div *ngIf="ejer.estadoadd">
                                  <button  ion-button  block color="normal" (click)="solicitud(ejer,o)">selecionar</button>              
                              </div>
                              <div *ngIf="!ejer.estadoadd">
                                  <button  ion-button  block color="normal" disabled> ya selecionar</button>              
                              </div>
                          
                          
                        </ion-item>
                        </div>
                    </div>                
                  </div>
                  
                </ion-list>
</ion-content>
