<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>


  
    
    <!--
      <ion-list no-lines inset>

        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      
      </ion-list>

    -->
    <ion-grid>
      <ion-row align-items-end>
        <ion-col col-12>
          <h3>Iniciar Sesion</h3>
          <!--
<div class="login">
            <ion-input type="text" placeholder="Username"></ion-input>
          </div>
          <div class="login">
              <ion-input type="password" placeholder="Password"></ion-input>
          </div>
          <div class="login">
              <button ion-button  block color="normal" (click)="iniciarSesion()">ingresar</button>
          </div>
          <p> <a href="">Registrarse</a> o ingresar con</p>
          
          
          <ion-item>
              <ion-label>Rol</ion-label>
              <ion-select [(ngModel)]="rol" interface="action-sheet" okText="OK" cancelText="Cerrar">
                <ion-option value="alumno" selected >Alumno</ion-option>
                <ion-option value="instructor">Instructor</ion-option>
              </ion-select>
            </ion-item>
            -->
            <ion-grid>
                <ion-row class="menu">
                  <ion-col  col-6>
                      <button *ngIf="rol=='instructor';else botonAlum;" ion-button block color="normal" (click)="cambiarRolAlum()">alumno</button>
                      <ng-template #botonAlum>
                        <button ion-button outline block color="carts"  >alumno</button>
                      </ng-template>
                  </ion-col>
                  <ion-col col-6>
                      <button *ngIf="rol=='instructor'else botonIns;" ion-button outline block color="carts" >Instructor</button>
                      <ng-template #botonIns>
                        <button ion-button block color="normal"  (click)="cambiarRolIst()">Instructor</button>
                      </ng-template>
                  </ion-col>
                </ion-row>
            </ion-grid>
          <div class="login">
              <button ion-button full icon-left color="facebook" (click)="loginWithFacebook()">
                <ion-icon name="logo-facebook"></ion-icon>
                Facebook
              </button>
          </div>
          <!--
<div class="login">
              <button ion-button full  color="google"  (click)="loginWithGoogle()">google</button>
          </div>
          -->
          
        </ion-col>
      </ion-row>
    </ion-grid>
      

</ion-content>
