page-adm-creardietacliente {
    ion-item{
        background-color: rgba(255, 255, 255, 0) !important;
    }
    .fechapadd{
        margin-top:15px;
    }
    ion-label{
        color: white !important;
    }
}
