<!--
  Generated template for the AdmCreardietaclientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="tabss">
      <ion-title>Crear dieta diaria</ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="guardar()">
          <ion-icon name="md-checkmark"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content >
      <ion-grid>
          <ion-row align-items-end>
            <ion-col col-12>
              
              <ion-item class="input" [formGroup]="myForm">
                <ion-label  floating>Nombre</ion-label>
                  <ion-input type="text" formControlName="nombre" [(ngModel)]="event.nombre"></ion-input>
              </ion-item>
              <ion-item *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
                <p class="msgerr" *ngIf="myForm.get('nombre').hasError('required')">Campo requerido</p> 
                <p class="msgerr" *ngIf="myForm.get('nombre').hasError('maxlength')">máximo de 50 digitos</p> 
              </ion-item>
                <ion-item class="input" [formGroup]="myForm">
                  <ion-label  floating>Descripción</ion-label>
                  <ion-input type="text" formControlName="descripcion" [(ngModel)]="event.descripcion"></ion-input>
                </ion-item>
                <ion-item *ngIf="myForm.get('descripcion').errors && myForm.get('descripcion').dirty">
                  <p class="msgerr" *ngIf="myForm.get('descripcion').hasError('required')">Campo requerido</p> 
                  <p class="msgerr" *ngIf="myForm.get('descripcion').hasError('maxlength')">máximo de 200 digitos</p> 
                </ion-item>
              <ion-list  no-lines >
                  <ion-row align-items-end>
                      <ion-col col-6>
                        <p>Inicio</p>
                          <ion-item class="fechapadd">
                              <ion-datetime 
                                displayFormat="DD MMMM YYYY" 
                                min="2019" 
                                max="2020"[(ngModel)]="fechaini" 
                                cancelText =Cancelar 
                                doneText=Ok>
                            </ion-datetime>
                            </ion-item>
                      </ion-col>
                      <ion-col col-6>
                          <p>Fin</p>
                          <ion-item class="fechapadd">
                              <ion-datetime 
                                displayFormat="DD MMMM YYYY"
                                min="2019"
                                max="2020" 
                                [(ngModel)]="fechafin" 
                                cancelText =Cancelar 
                                doneText=Ok>
                              </ion-datetime>
                            </ion-item>
                      </ion-col>
                  </ion-row>
                  
              </ion-list>
              <h5>Dietas selecionadas</h5>
            </ion-col>
          </ion-row>
      </ion-grid>
      <div color="carts">
          <ion-scroll scrollX="true" scroll-avatar >
              <div class="itemsel" >
                  <div class="cerrar">
                      <ion-icon name="ios-add-circle-outline" (click)="addEjercicio()"></ion-icon> 
                  </div>
                  <div class="selecionados add"  >
                      <ion-icon name="custom-dieta" (click)="addEjercicio()"></ion-icon>
                  </div>
                  <div>
                      <p>Agregar dieta</p>
                      
                  </div>
                  
                  
              </div>
              <div class="itemsel" *ngFor="let item of ejercicios; let o = index;" >
                  <div class="cerrar">
                      <ion-icon name="close-circle-outline" (click)="eliminar(o)">

                      </ion-icon>
                  </div>
                  <img class="selecionados" *ngIf="item.imagen!=''; else elseBlock" [src]="item.imagen" />
                  <ng-template #elseBlock>
                     <img class="selecionados" src="../../assets/imgs/defecto2.jpeg" />
                  </ng-template>
                  <div>
                      <p>{{item.nombre}}</p>
                      
                  </div>
                  
              </div>
        </ion-scroll>
      </div>

  </ion-content>
