<!--
  Generated template for the DatospersonalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="normal" >
    <ion-buttons start>
        <button ion-button icon-only color="royal" (click)="modificardatos()">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Datos personales</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="cerrarSesion()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

    <button *ngIf="rol=='instructor';else botonAlum;" ion-button outline block color="normal" (click)="canbiarRolAlum()">alumno</button>
    <ng-template #botonAlum>
      <button  ion-button block color="normal" (click)="canbiarRolAlum()">alumno</button>
    </ng-template>
    <button *ngIf="rol=='instructor'else botonIns;" ion-button block color="normal" (click)="canbiarRolIst()">Instructor</button>
    <ng-template #botonIns>
      <button  ion-button outline block color="normal" (click)="canbiarRolIst()">Instructor</button>
    </ng-template>
    
    <ion-card color="listdivisor">
        <img [src]="datos.foto" />
        <ion-card-content>
          <ion-card-title>
            {{datos.nombres}} {{datos.apellidos}}
          </ion-card-title>
            <ion-grid>
            <ion-row>
              <ion-col col-5>fecha de nacimiento</ion-col>
              <ion-col col-7>{{edad}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5>Genero</ion-col>
              <ion-col col-7>{{datos.genero}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5>Peso {{datos.peso}}kg</ion-col>
              <ion-col col-7>Altura: {{datos.altura}} centimetros</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5>Telefono</ion-col>
              <ion-col col-7>{{datos.telefono}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5>Email</ion-col>
              <ion-col col-7>{{datos.email}}</ion-col>
            </ion-row>
            <button ion-button  block color="normal" (click)="activarmodificardatos()">Modificar datos</button>
                        
            <div *ngIf="activador">
                <ion-row>
                    <ion-col><h3>Modificar datos</h3></ion-col>
                  </ion-row>
                <ion-row align-items-end>
                    <ion-col col-12>
                      
                      
                      <p>Telefono</p>
                        <div >
                          <ion-input type="text" placeholder="telefono" [(ngModel)]="datos.telefono"></ion-input>
                        </div>
                      <ion-list radio-group no-lines inset>
                        <ion-item class="fechapadd">
                          <ion-label>Fecha de Nacimiento</ion-label>
                          <ion-datetime displayFormat="DD MMMM YYYY" min="1940" [(ngModel)]="edad2" cancelText =Cancelar doneText=Ok></ion-datetime>
                        </ion-item>
                      </ion-list>
                      <p>Peso</p>
                      
                        <ion-list radio-group no-lines inset>
                          <ion-item>
                            <ion-range [(ngModel)]="datos.peso" min="40" max="120" pin="true"  color="secondary">
              
                              </ion-range>
                          </ion-item>
                        </ion-list>
                      
                      <p>Altura</p>
                        
                        <ion-list radio-group no-lines inset>
                          <ion-item>
                          <ion-range [(ngModel)]="datos.altura" min="120" max="220" pin="true"  color="secondary">
              
                            </ion-range>
                          </ion-item>
                          
                        </ion-list>
                    </ion-col>
                  </ion-row>
                  
                  <ion-row align-items-center>
                    <ion-col>
                      <p>Genero</p>
                    </ion-col>
                    <ion-col>
                        <ion-list radio-group no-lines inset [(ngModel)]="datos.genero" >
                          
                            <ion-item>
                              <ion-label>Masculino</ion-label>
                              <ion-radio color="secondary" checked="true" value="Masculino"></ion-radio>
                            </ion-item>
                          
                            <ion-item>
                              <ion-radio color="secondary" value="Femenino" ></ion-radio>
                              
                              <ion-label>Femenino</ion-label>
                            </ion-item>
                          
                          </ion-list>
                          
                    </ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col>
                        
                        <div *ngIf="rol=='instructor'">
                            <p>Datos de instructor</p>
                            <p>Descripcion corta</p>
                            <div >
                              <ion-input type="text" placeholder="Descripcion para mostrar" [(ngModel)]="datosins.descorta"></ion-input>
                            </div>
                          <p>Descripcion larga</p>
                            <div >
                              <ion-input type="text" placeholder="Descripcion completa del instructor" [(ngModel)]="datosins.deslarga"></ion-input>
                            </div>
                          <p>Cursos</p>
                          <div >
                            <ion-input type="text" placeholder="Descripcion acerca del curso" [(ngModel)]="datosins.cursos"></ion-input>
                          </div>
                        </div>
                        <div class="login">
                            <button ion-button  block color="normal" (click)="GurdarDatos()">Gurdar Datos</button>
                        </div>
                    </ion-col>
                  </ion-row>
            </div>
            
            </ion-grid>
        </ion-card-content>
      </ion-card>
</ion-content>
