page-datospersonales {
    img{
        //border-radius: 50%;
        //width: 200px;
        //height: 200px;
        display:block;
        //margin: 20px auto 0 auto;
    }
    
    ion-grid{
        margin-bottom: 50px ;
    }
    ion-item{
        background-color: rgba(255, 255, 255, 0) !important;
    }
    ion-label{
        color: white !important;
    }
    ion-input{
        margin: 5px 0;
    }
    p,ion-list{
        margin: 0 !important;
    }
    .fechapadd{
        margin-top:15px;
    }
    .menu ion-col{
        padding: 0 !important;
    }
    img.foto{
        border-radius: 50%;
        width: 75px !important;
        height: 75px !important;
        display:block;
        margin: 0;
    }
}
