<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>150980917345-u571of3gsrsnc9ht5t59igvi448cj91o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150980917345-u571of3gsrsnc9ht5t59igvi448cj91o</string>
	<key>API_KEY</key>
	<string>AIzaSyDQnyHx_NscJEGeODm_OPLWeXXVC1eDHxE</string>
	<key>GCM_SENDER_ID</key>
	<string>150980917345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hegaro.entrenadorpersonal</string>
	<key>PROJECT_ID</key>
	<string>entrenador-personal-20e1f</string>
	<key>STORAGE_BUCKET</key>
	<string>entrenador-personal-20e1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150980917345:ios:81fab74723f3663b</string>
	<key>DATABASE_URL</key>
	<string>https://entrenador-personal-20e1f.firebaseio.com</string>
</dict>
</plist>