page-adm-crearrutinacliente {
    ion-item{
        background-color: rgba(255, 255, 255, 0) !important;
        padding-left: 0 !important;
    }
    .fechapadd{
        margin-top:15px;
    }
    ion-label{
        color: white !important;
    }
    .selecionados{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    .add{
        background-color: rgb(139, 139, 139);
        font-size: 2.5em;
        padding: 15px 0 0 2px
    }
    ion-scroll[scroll-avatar] .itemsel{
        display: inline-block;
        vertical-align:top;
        margin: 5px 0 0 10px;
        position: relative;
        text-align: center;
        max-width: 80px;
        width: 80px;
        color: white;
    }
    ion-scroll[scroll-avatar] p{
        margin: 0;
        white-space: normal;
    }
    p{
        margin: 10px 0 0 0;
    }
    .botong{
        padding: 5px 15px;
    }
    ion-scroll[scroll-avatar]{
        background-color: hsla(188, 90%, 12%, 0.4);
        white-space: nowrap;
        height: 120px;
      }
    .cerrar{
        border-radius: 50%;
        background-color: black;
        width: 25px;
        height: 25px;
        font-size: 1.5em;
        top: 0;
        right: 0;
        position: absolute;
    }
    .select-text, .select-icon-inner{
        color:white;
    }
}
