page-detallejercicio {
    img{
        //border-radius: 50%;
        display:block;
        margin: 0 auto;
    }
    .tabla ion-row{
        border-bottom: solid 1px map-get($colors, light);
    }
    ion-checkbox{
        margin: 0 !important;
    }
    ion-slides{
        margin: 0 auto;
        height: auto;
    } 
    p{
        padding-left: 10px;
    }
    ion-slide.video{
        margin: auto 0;
    }
}
