page-detallejercicio {
    img{
        //border-radius: 50%;
        width: 200px;
        height: 200px;
        display:block;
        margin: 0 auto;
    }
    .tabla ion-row{
        border-bottom: solid 1px map-get($colors, light);
    }
    ion-checkbox{
        margin: 0 !important;
    }
}
