page-adm-clientes {
    ion-scroll[scroll-avatar] .itemsel{
        display: inline-block;
        vertical-align:top;
        margin: 5px 0 0 10px;
        position: relative;
        text-align: center;
        max-width: 80px;
        width: 80px;
       
        //color: white;
    }
    ion-scroll[scroll-avatar] p{
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 12px
    }
    ion-scroll[scroll-avatar]{
        
        white-space: nowrap;
        height: 90px;
    }
    ion-scroll[scroll-avatar] img{
        
        border-radius: 50%;
    }
    .selecionados{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    ion-card{
        margin-left:0 !important;
        margin-right: 0 !important; 
        width: 100% !important;
    }

    .imgpubli{
        background-color: rgb(218, 218, 218);
    }
    
                                       
}
