page-adm-clientes {
    ion-scroll[scroll-avatar] .itemsel{
        display: inline-block;
        vertical-align:top;
        margin: 5px 0 0 10px;
        position: relative;
        text-align: center;
        max-width: 80px;
        width: 80px;
        color: white;
    }
    ion-scroll[scroll-avatar] p{
        margin: 0;
        white-space: normal;
    }
    ion-scroll[scroll-avatar]{
        
        white-space: nowrap;
        height: 145px;
    }
    ion-scroll[scroll-avatar] img{
        
        border-radius: 50%;
    }
    .selecionados{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
}
