<!--
  Generated template for the DatosinstructorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tabss">
    <ion-title>Instructor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-card color="listdivisor">
        
        <ion-card-content>
            <ion-item>
                <ion-avatar item-start>
                  <img [src]="datos.foto" />
                </ion-avatar>
                <h2>{{datos.nombre}} </h2>
              </ion-item>
            <ion-grid>
            <ion-row>
              <ion-col col-5>fecha de nacimiento</ion-col>
              <ion-col col-7>{{edad}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>Telefono</ion-col>
                <ion-col col-7>
                  <a href="https://wa.me/591{{datos.telefono}}">{{datos.telefono}} 
                  </a>
                  <ion-icon name="logo-whatsapp"></ion-icon>
                </ion-col>
              </ion-row> 
              <ion-row>
                <ion-col col-5>Email</ion-col>
                <ion-col col-7>{{datos.email}}</ion-col>
              </ion-row>
            <ion-row>
              <ion-col col-5>Genero</ion-col>
              <ion-col col-7>{{datos.genero}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col >
                  <h4>Constitucion</h4>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5>Peso {{datos.peso}}kg</ion-col>
              <ion-col col-7>Altura: {{datos.altura}} centimetros</ion-col>
            </ion-row>
            <ion-row>
                <ion-col >
                  <h4>Formacion</h4>
                  <div>{{datosins.deslarga}}</div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col >
                  <h4>Datos del curso</h4>
                  <div>{{datosins.cursos}}</div>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="estadobut;else elseBlock">
                <button ion-button  block color="normal" (click)="solicitud()">Enviar solicitud del curso</button>
              </ion-col>
              <ng-template #elseBlock>
                  <ion-col *ngIf="estado;else elseBlock2">
                      <button ion-button  block color="normal" (click)="solicitud()"disabled>Solicitud en curso</button>
                    </ion-col>
                    <ng-template #elseBlock2>
                        <ion-col >
                            <button ion-button  block color="normal" (click)="solicitud()"disabled>Curso Activo</button>
                          </ion-col>
                    </ng-template>
            </ng-template>
          </ion-row>
            </ion-grid>
        </ion-card-content>
      </ion-card>
</ion-content>
