<!--
  Generated template for the InstructoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="tabss">
        <ion-searchbar [(ngModel)]="buscar" (search)="getItems($event)" placeholder="Buscar"></ion-searchbar>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content >
      <ion-list >
          <ion-item color="listdivisor" >
            
            <h2>Instructores buscados </h2>
            
          </ion-item>
          <ion-scroll scrollX="true" scroll-avatar *ngIf="datosbuscado.length!=0;else elseBlock4">
            <div class="itemsel" *ngFor="let item of datosbuscado" (click)="verInstructor(item.key)" >

                <img class="selecionados" [src]="item.foto ">
                
                <div>
                    <p>{{item.nombre}}</p>
                </div>
                </div>
            </ion-scroll>
          <ng-template #elseBlock4>
              <ion-item color="carts">
                <p>No se entontró resultados</p>
              </ion-item>
          </ng-template>
          
          <ion-item  color="listdivisor">
              <h2>Mis Instructores </h2>
              <button ion-button clear item-end icon-only (click)=alerta()>
                <ion-icon color="dark" name='information-circle'></ion-icon>
            </button>

          </ion-item>
          <ion-scroll scrollX="true" scroll-avatar *ngIf="misInstructores.length!=0;else elseBlock3">
            <div class="itemsel" *ngFor="let item of misInstructores" (click)="vercurso(item.idinstructor)" >

                <img *ngIf="keyslec!=item.idinstructor;else elseBlockIMG" class="selecionados" [src]="item.foto ">
                <ng-template #elseBlockIMG>
                  <img  class="selecionados activo" [src]="item.foto ">
                
                </ng-template>
                <div>
                    <p>{{item.fullname}}</p>
                </div>
                
                </div>

            </ion-scroll>
          <ng-template #elseBlock3>
              <ion-item color="carts">
                <h2>No tiene ningun instructor</h2>
              </ion-item>
          </ng-template>
          <hr>
        </ion-list>
        <ion-grid no-padding>
            <ion-row *ngFor="let p of publicaciones">
                <ion-col no-padding>
                        <ion-card>
                                <ion-item color="carts">
                                        <ion-avatar item-start>
                                          <img [src]="p.foto">
                                        </ion-avatar>
                                        
                                        <p>{{p.nombre}}</p>
                                        <p>{{p.fecha2}}</p>
                                </ion-item>
                                <ion-slides pager >
                                        
                                    <ion-slide *ngFor="let imagen of p.imagenes">
                                        <img [src]="imagen.url"  alt="">
                                    </ion-slide>
                                    
                                </ion-slides>
                                <ion-card-content>
                                  
                                  <p>{{p.comentario}}
                                  </p>
                              </ion-card-content>
                                  
                                <ion-item>
                                    <button ion-button clear item-start (click)="verInstructor(p.idcliente)" >

                                     ver instructor
                                    </button>
                                    
                                    <button ion-button clear item-end  >
                                        <a href="https://wa.me/591{{p.telefono}}"> {{p.telefono}}   
                                        </a>
                                        <ion-icon class="wtapp" name="logo-whatsapp"></ion-icon>
                                    </button>
                                  </ion-item>
                              </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
  </ion-content>
