<!--
  Generated template for the AdmTipoejercicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="normal">
      <ion-title>Tipos de Ejercicios</ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="crear()">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    
  </ion-header>
  
  
  <ion-content >
      <div *ngFor="let ejer of tipoejer">
          <ion-item color="carts"  (click)="verejercicios(ejer)"> 
              <p>Ejercicios para {{ejer.nombre}} </p>
            <button ion-button clear item-end icon-only>
                <ion-icon color="light" name='ios-arrow-forward'></ion-icon>
            </button>
        </ion-item>
      </div>
      <div *ngFor="let tipo of tipos">
        <ion-item color="carts" > 
          <p>{{tipo.nombre}} </p>
          <button ion-button clear item-end icon-only (click)="editar(tipo)">
              <ion-icon color="light" name='paper'></ion-icon>
          </button>
          <button ion-button clear item-end icon-only (click)="eliminar(tipo.key)">
              <ion-icon color="light" name='trash'></ion-icon>
          </button>
          <button ion-button clear item-end icon-only  (click)="verejercicios(tipo)">
              <ion-icon color="light" name='ios-arrow-forward'></ion-icon>
          </button>
      </ion-item>
    </div>
  
  </ion-content>
