// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
$text-input-placeholder-color: #cac7c7;
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #0e153ac5,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #0e153a,
  sincolor:hsla(0, 0%, 100%, 0),
  facebook: (
    base: #4267B2,
    contrast: #f4f4f4
  ),
  google: (
    base: #D2504D,
    contrast: #f4f4f4
  ),
  normal: (
    base: #0e153a,
    contrast: #f4f4f4
  ),
  carts: (
    base: #f4f4f4,
    contrast: #0e153a
  ),
  listdivisor: (
    base:  #ffffff,
    contrast: #0e153a
  ),
  head: (
    base: #0e153a,
    contrast: #f4f4f4
  ),
  refresh: (
    base: #0e153a,
    contrast: #f4f4f4
  ),
  tabss: (
    base: #f4f4f4,
    contrast: #0e153a
  ),
);

$refresher-icon-color:map-get($colors, dark);
$refresher-text-color:map-get($colors, dark);
// App iOS Variables
$list-ios-background-color:map-get($colors,sincolor);
// --------------------------------------------------
// iOS only Sass variables can go here
$range-ios-pin-color:map-get($colors, dark);
$text-input-ios-highlight-color: 	color($colors, dark);



// App Material Design Variables

$list-md-background-color:map-get($colors,sincolor);
$text-input-md-highlight-color:map-get($colors, dark);
$tabs-md-tab-opacity	:.5;
$tabs-md-tab-text-color	: map-get($colors, dark);
$tabs-md-tab-icon-color	: map-get($colors, dark);

$tabs-md-tab-text-color-active: map-get($colors, dark);
$tabs-md-tab-icon-color-active: map-get($colors, dark);
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
