<!--
  Generated template for the AdmModejercicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="tabss">
      <ion-title>Modificar Ejercicio</ion-title>
      <ion-buttons end>
          <button ion-button icon-only color="royal" (click)="guardar()">
            <ion-icon name="md-checkmark"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content >
    <ion-grid>
      <ion-row align-items-end>
        <ion-col col-12>
          <ion-item class="input">
            <ion-label  floating>Nombre</ion-label>
            
            <ion-input type="text" [(ngModel)]="datos.nombre" clearInput></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-label  floating>Descripcion</ion-label>
              <ion-input type="text" [(ngModel)]="datos.descorta" clearInput></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-label  floating>Instrucciones</ion-label>
              <ion-textarea  type="text" [(ngModel)]="datos.deslarga" ></ion-textarea >
          </ion-item>
          <!--
           <div class="login">
              <p> </p>
                <ion-item>
                    <ion-label>Tipo</ion-label>
                    <ion-select [(ngModel)]="datos.tipo" interface="action-sheet" cancelText="Cancelar" >
                      <ion-option value="hombro">Hombro</ion-option>
                      <ion-option value="brazos">Brazos</ion-option>
                      <ion-option value="piernas">Piernas</ion-option>
                    </ion-select>
                  </ion-item>
            </div>
          -->
          
          
          
          <ion-row>
              <p>Seleccinar imagenes de las posiciones del ejercicio(opcional)  </p> 
            <ion-col col-6>
              
                <p>Posicion 1 (opcional) </p>
              <div class="colbtn">
                  <div *ngIf="imagen64==''; else imagendefecto;">
                    <div *ngIf="datos.imagen!=''; else sinImg;">
                        <div class="fondobtn" ><ion-icon name="image-outline" (click)="seleccionarImagen()"></ion-icon><br></div>
                        <img   [src]="datos.imagen"   /> 
                    </div>  
                    <ng-template #sinImg>
                        <button ion-button  block color="normal" (click)="seleccionarImagen()">
                            <ion-icon name="image"></ion-icon>
                        </button>

                    </ng-template>
                      
                  </div>
                  
                  <ng-template #imagendefecto>
                    
                    <div class="fondobtn" ><ion-icon name="close-circle-outline" (click)="borrarimg()"></ion-icon><br></div>
                    <img  [src]="imagen64" />
                  </ng-template>
              </div>
              
            </ion-col>
            <ion-col col-6>
                
                <p>Posicion 2 (opcional) </p>
                <div class="colbtn">
                  
                    <div *ngIf="imagen64_2==''; else imagendefecto2;">
                      
                      <div *ngIf="datos.imagen1!='' && datos.imagen1; else sinImg2;">
                          <div class="fondobtn" >
                            <ion-icon name="image" (click)="seleccionarImagen2()"></ion-icon>
                          </div>
                          <img   [src]="datos.imagen1"   /> 
                      </div>  
                      <ng-template #sinImg2>
                          <button ion-button  block color="normal" (click)="seleccionarImagen2()">
                              <ion-icon name="image"></ion-icon>
                          </button>
  
                      </ng-template>
                    </div>
                    <ng-template #imagendefecto2>
                      
                      <div class="fondobtn" ><ion-icon name="close-circle-outline" (click)="borrarimg2()"></ion-icon></div>
                      <img  [src]="imagen64_2" />
                    </ng-template>
                </div>
                
              </ion-col>
          </ion-row>
          
          <ion-item class="input">
            <ion-label  floating>Link video de youtube (opcional)</ion-label>
                <ion-input  type="text" [(ngModel)]="datos.linkyoutube" ></ion-input >
                </ion-item>

          
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
