page-adm-crearpublicasion {
.imagen{
    background-color: #f0f0f0;
    font-size: 3rem;
    display: flex;
   justify-content: center;
   align-items: center;
    width: 300px;
    height: 300px;
    margin:0 auto;
}
.imagen ion-icon{
    margin:auto;
}


}

