<!--
  Generated template for the AdmCrearpublicasionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="tabss">
        <ion-title>Crear publicación</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="guardar()">
                    <ion-icon name="md-checkmark"></ion-icon>
            </button>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content >
  <ion-grid no-padding>
    <ion-row align-items-center>
      <ion-col >
          <div class="imagen"(click)="openImagePickerCrop()" *ngIf="imgCropUrl.length==0">
              <ion-icon  name="camera"></ion-icon>
            </div>
          <ion-slides pager *ngIf="imgCropUrl.length!=0">
              <ion-slide *ngFor="let imagen of imgCropUrl">
                  <img [src]="imagen.base64" (click)="verimage(imagen.url)"/>
              </ion-slide>
        </ion-slides>
        
        <ion-item [formGroup]="myForm">
          <ion-label floating>Titulo</ion-label>
          <ion-input type="text" [(ngModel)]="datos.titulo" formControlName="titulo"></ion-input>
        </ion-item>
        <ion-item [formGroup]="myForm">
            <ion-label floating>Descripción</ion-label>
            <ion-textarea [(ngModel)]="datos.comentario" formControlName="comentario" type="text" ></ion-textarea>
        </ion-item>  
        <ion-item *ngIf="myForm.get('comentario').errors && myForm.get('comentario').dirty">
          <p class="msgerr" *ngIf="myForm.get('comentario').hasError('required')">Campo requerido</p> 
          <p class="msgerr" *ngIf="myForm.get('comentario').hasError('maxlength')">máximo de 300 caracteres</p> 
        </ion-item>

            <ion-row align-items-end>
              <ion-col>
                <ion-item [formGroup]="myForm">
                    <ion-label floating>Costo</ion-label>
                    <ion-input type="text" [(ngModel)]="datos.costo" formControlName="costo" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"></ion-input>
                  </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item>
                      <ion-label>Moneda</ion-label>
                      <ion-select [(ngModel)]="datos.moneda" interface="popover" text-wrap>
                        <ion-option value="USD" [selected]="true">Usd</ion-option>
                        <ion-option value="BS">Bs.</ion-option>
                      </ion-select>
                  </ion-item>
              </ion-col>
            </ion-row>
          <ion-item no-lines>
            <button ion-button outline block clear (click)="modificarset()"> 
              <span *ngIf="datos.horas=='' && datos.semanas==''">
                  Duracion  &nbsp; 
              </span> 
              <span *ngIf="datos.horas!=''">
                   {{datos.horas}} hora(s) por semana durante&nbsp;
              </span>
              <span *ngIf="datos.semanas!=''">
                  {{datos.semanas}} semana(s)&nbsp;
              </span>
            </button>
          </ion-item>
          
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item no-lines>
    <ion-label>{{datos.direccion}}</ion-label>
  </ion-item>
  <div id="map_publi" style="height: 200px;"></div>
</ion-content>