// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content{
    background-color: #e2f3f5;
    color: #0e153a;
    
    /*background:  url("../assets/imgs/fondo.jpg") no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color: map-get($colors, light) !important;*/
}
@media (orientation: landscape) {
    ion-content{
        background-color: #e2f3f5;
        color: #0e153a;
        /*background:  url("../assets/imgs/fondo2.jpg") no-repeat center top;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        color: map-get($colors, light) !important;*/
    }
}
h2{
    font-weight: bold !important;
}
ion-item.input{
    background-color: rgba(255, 255, 255, 0) !important;
    color: map-get($colors, secundary) !important;
}
ion-item.input {
    color: black !important ;
}
ion-label{
    
    color: #7c7c7c  !important ;
}
ion-datetime{
        border-bottom:solid 1px !important;
        color: map-get($colors, dark) !important;
    }
.msgerr{
    color: #fd7171 !important;
}
ion-icon {
    &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
    }
    &[class*="custom-pesas"] {
    mask-image: url(../assets/icon/dumbbell.svg);
    }
    &[class*="custom-dieta"] {
    mask-image: url(../assets/icon/covered-food-tray-on-a-hand-of-hotel-room-service.svg);
    }
    &[class*="custom-estadisticas"] {
    mask-image: url(../assets/icon/line-chart.svg);
    }
    &[class*="custom-persona"] {
    mask-image: url(../assets/icon/user-silhouette.svg);
    }
    &[class*="custom-team"] {
    mask-image: url(../assets/icon/team.svg);
    }
    &[class*="custom-run"] {
        mask-image: url(../assets/icon/run.svg);
    }
    &[class*="custom-whatsapp"] {
        mask-image: url(../assets/icon/whatsapp.svg);
    }
}
img {
    background:transparent url(../assets/loading/ajax-loader.gif) center no-repeat !important;
    }
    ion-content.has-refresher > .scroll-content {
         background-color: #ffffff00 !important; 
    }
//selecion de imagenes
.colbtn{
    position: relative;
}
.fondobtn{
    font-size: 2em;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.603) !important;
    background-color: rgba(0, 0, 0, 0.5);
}
.picker-wrapper{
background-color: white !important;
}
.bold{
    font-weight: bold;
}
//alerta de imagen
.titulo .palert{
    margin: 0 !important;
    padding: 5px 24px;
}
.titulo .alert-head {
    padding: 0px !important;
}
.titulo .alert-title{
    padding: 5px 24px;
}
.titulo .alert-message{
    padding-bottom: 0 !important;
}