<!--
  Generated template for the AdmCrearejercicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="normal">
    <ion-title>Crear Ejercicio</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="guardar()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-grid>
    <ion-row align-items-end>
      <ion-col col-12>
        <ion-item class="input" [formGroup]="myForm">
          <ion-label  floating>Nombre</ion-label>
          
          <ion-input type="text" [(ngModel)]="datos.nombre" formControlName="nombre" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
          <p class="msgerr" *ngIf="myForm.get('nombre').hasError('required')">Campo requerido</p> 
          <p class="msgerr" *ngIf="myForm.get('nombre').hasError('maxlength')">maximo de 50 digitos</p> 
        </ion-item>
        <ion-item class="input" [formGroup]="myForm">
          <ion-label  floating>Descripcion</ion-label>
            <ion-input type="text"  [(ngModel)]="datos.descorta" formControlName="descripcion" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('descripcion').errors && myForm.get('descripcion').dirty">
          <p class="msgerr" *ngIf="myForm.get('descripcion').hasError('required')">Campo requerido</p> 
          <p class="msgerr" *ngIf="myForm.get('descripcion').hasError('maxlength')">maximo de 100 digitos</p> 
        </ion-item>
        <ion-item class="input" [formGroup]="myForm">
          <ion-label  floating>Instrucciones del ejercicio</ion-label>
            <ion-textarea  type="text"  [(ngModel)]="datos.deslarga" formControlName="instrucciones" ></ion-textarea >
        </ion-item>
        <ion-item *ngIf="myForm.get('instrucciones').errors && myForm.get('instrucciones').dirty">
          <p class="msgerr" *ngIf="myForm.get('instrucciones').hasError('required')">Campo requerido</p> 
          <p class="msgerr" *ngIf="myForm.get('instrucciones').hasError('maxlength')">maximo de 300 digitos</p> 
        </ion-item>
        <!--
          <div class="login">
            <p> </p>
              <ion-item>
                  <ion-label>Tipo</ion-label>
                  <ion-select [(ngModel)]="datos.tipo" interface="action-sheet" cancelText="Cancelar" >
                    <ion-option value="hombro">Hombro</ion-option>
                    <ion-option value="brazos">Brazos</ion-option>
                    <ion-option value="piernas">Piernas</ion-option>
                  </ion-select>
                </ion-item>
          </div>
        
        
        <div class="login">
          <p>Imagen (opcional)</p>
            <button ion-button  block color="normal" (click)="seleccionarImagen()">
                <ion-icon name="image"></ion-icon>
            </button>
        </div>
        -->
        
        <p>Seleccinar imagenes de las posiciones del ejercicio(opcional) </p>
        <ion-row>
          <ion-col col-6>
            <div class="colbtn">
                <div  *ngIf="imagen64==''; else imagendefecto;" >
                      <p>Posicion 1 </p>
                      <button ion-button  block color="carts" (click)="seleccionarImagen()">
                          <ion-icon name="camera"></ion-icon>
                      </button>
                </div>

                <ng-template #imagendefecto>
                  
                  <div class="fondobtn" ><ion-icon name="close-circle-outline" (click)="borrarimg()"></ion-icon></div>
                  <img  [src]="imagen64" />
                </ng-template>
            </div>
            
          </ion-col>
          <ion-col col-6>
              <div class="colbtn">
                  <div  *ngIf="imagen64_2==''; else imagendefecto2;" >
                        <p>Posicion 2 </p>
                        <button ion-button  block color="carts" (click)="seleccionarImagen2()">
                            <ion-icon name="camera"></ion-icon>
                        </button>
                  </div>
  
                  <ng-template #imagendefecto2>
                    
                    <div class="fondobtn" ><ion-icon name="close-circle-outline" (click)="borrarimg2()"></ion-icon></div>
                    <img  [src]="imagen64_2" />
                  </ng-template>
              </div>
              
            </ion-col>
        </ion-row>
        <ion-item class="input">
          <ion-label  floating>Link de video youtube (opcional)</ion-label>
              <ion-input  type="text" [(ngModel)]="datos.linkyoutube" ></ion-input >
              </ion-item>
        <!--
          <div class="login">
            <p> </p>
              <button ion-button  block color="normal" (click)="seleccionarfile()">
                  <ion-icon name="image"></ion-icon>
              </button>
          </div>
        -->
        
        
        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
