page-adm-aadirejercicio {
    .selecionados{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    ion-scroll[scroll-avatar] .itemsel{
        display: inline-block;
        margin: 5px 0 0 10px;
        position: relative;
        font-size: 1.5em;
        color: white;
    }
    ion-scroll[scroll-avatar]{
        
        white-space: nowrap;
        height: 90px;
      }
    .cerrar{
        top: 0;
        right: 0;
        position: absolute;
    }
}
