page-adm-aadirejercicio {
    .selecionados{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    ion-scroll[scroll-avatar] .itemsel{
        display: inline-block;
        vertical-align:top;
        margin: 5px 0 0 10px;
        position: relative;
        text-align: center;
        max-width: 80px;
        width: 80px;
        color: white;
    }
    ion-scroll[scroll-avatar] p{
        margin: 0;
        white-space: normal;
    }
    ion-scroll[scroll-avatar]{
        
        white-space: nowrap;
        height: 120px;
      }
    .cerrar{
        border-radius: 50%;
        background-color: black;
        width: 25px;
        height: 25px;
        font-size: 1.5em;
        top: 0;
        right: 0;
        position: absolute;
    }
    .marginbotton{
        margin-bottom: 50px;
    }
}
