page-adm-datoscliente {
    .menu ion-col{
        padding: 0 !important;
    }
    img{
        border-radius: 50%;
        width: 75px !important;
        height: 75px !important;
        display:block;
        margin: 0;
    }
}
